body {
    background-size: 100% 100%;
    text-transform: capitalize;
  }
  
.hidden {
    display: none;
}
.dice {
    margin-top: 60px ;
    width: 80px;
    height: 80px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}
.btn {
    margin: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    width: 100px;
}

.player_active {
    background: rgba(102, 255, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
}

#btn_new {
    color: rgb(223, 15, 15);
    margin-bottom: 20px;
    width: 100%;

}
.current {
    background: rgb(223, 15, 15, 0.75);
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;


}

