
.container{
    height: 100%;
    box-shadow: 0 2px 5px rgba(128, 0, 241, 0.1);
    font-family: 'Lato', sans-serif;
}
.player {
    height: 300px;

}
.score{
    font-size: 1.2rem;
    font-weight: 500;
}
.hidden {
    display: none;
}
.dice {
    margin-top: 60px ;
    width: 120px;
    height: 120px;
    box-shadow: 0 2px 15px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
}
.btn {
    margin: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    width: 150px;

}
button:hover{
    letter-spacing: 2px;
    color: #000;
    transition: 0.5s;
}

.player_active {
    background: rgba(206, 206, 206, 0.25);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#btn_new {
    color: rgb(223, 15, 15);
    margin-bottom: 20px;
    margin-left: 0%;
    width: 100%;
    font-weight: 600;

}
.current {
    background: rgb(223, 15, 15, 0.75);
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-size:large;
    margin-top: 139px;
}

.player_winner {
    background-image: url(image/confetti.gif);
    box-shadow: 0 5px 25px rgba(16, 227, 5, 0.9);
}
.player_winner .name {
    font-weight: 800;    
}

input {
    border-radius: 10px;
    letter-spacing: 1.1px;
    margin: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    width: 150px;
    height: 35px;
    outline: none;
    border: none ;
    text-align: center;
    font-weight: 700;
    background: #d2d2d2;
    color: #000000;

}
input:focus {
    transform: scale(1.1);
}
